body{
  background-color: #D6A1CA;
  }
/* title img */
img{
 display: block;
 margin-left: auto;
 margin-right: auto;
 border-radius: 3px;
}
.title {
 text-align: center;
 font: italic small-caps bolder 16px/3 cursive;
  font-size: 20px;
}
hr{
  margin-right: auto;
  margin-left: auto;
  width: 45%;
  height: 2px;
  border-radius: 3px;
}
/* start styling for tabs */
li.tabM{
  display: inline;
  margin-right:auto;
  margin-left:auto;
  text-align:center;
  list-style-type: none;
  border: 5px solid #E6A307;
  border-radius: 3px;
  font-size: 30px;
  position: relative;
  background-color: #376473;
  color: white;

 }
ul,.tabM{
  text-align: center;
  margin-right: 40px;
}
.hover, .tabM {
	background: #1abc9c;
}
.hover, .tabM {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover,.tabM:hover {
	opacity: .5;
}
a{
  text-decoration: none;
  color: black;
}
 /* table img Animation */
 #tablePicsRight{
   float: right;
 }
#tablePicsLeft{
  float:left;
}
.picAnimation{
  margin-top: -800px;
}
.hover{
  background-color:#1abc9c;
}
